astroid==2.6.5
attrs==21.2.0
autopep8==1.5.7
beautifulsoup4==4.9.3
cachetools==4.2.2
certifi==2021.5.30
charset-normalizer==2.0.3
click==8.0.1
extruct==0.12.0
Flask==2.0.2
frozendict==2.0.3
gunicorn==20.1.0
html-text==0.5.2
html5lib==1.1
idna==3.2
importlib-metadata==4.6.1
isodate==0.6.0
isort==5.9.2
itsdangerous==2.0.1
Jinja2==3.0.2
jsonschema==3.2.0
jstyleson==0.0.2
lazy-object-proxy==1.6.0
lxml==4.6.3
MarkupSafe==2.0.1
mccabe==0.6.1
mf2py==1.1.2
numpy
pandas==1.1.5
psutil==5.8.0
pycodestyle==2.7.0
PyLD==2.0.3
pylint==2.9.5
pyparsing==2.4.7
pyRdfa3==3.5.3
pyrsistent==0.18.0
python-dateutil==2.8.2
pytz==2021.1
rdflib==5.0.0
rdflib-jsonld==0.5.0
requests==2.26.0
setuptools
six==1.16.0
soupsieve==2.2.1
toml==0.10.2
tqdm==4.60.0
typed-ast==1.4.3
typing-extensions==3.10.0.0
ultimate-sitemap-parser==0.5
urllib3==1.26.6
w3lib==1.22.0
webencodings==0.5.1
Werkzeug==2.0.2
wrapt==1.12.1
zipp==3.5.0
