{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Validation{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post" id="inputData">
        <label for="metadata URL">Input your metadata url</label>
        <input type="text" name="metadata URL" id="metadata URL">

        <label for="sitemap">or a domain/sitemap link</label>
        <input type="text" name="sitemap" id="sitemap">

        <label for="metadata">Or enter metadata here:</label>
        <textarea name="metadata" form="inputData"></textarea>

        <p><input type="submit" value="Validate"></p>
    </form>
{% endblock %}